<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <script src="../lib/require.js" data-main="../js/index.js"></script>
    <!-- <script src="../lib/jquery-3.4.1.min.js"></script> -->
    <script>
        requirejs.config({
            paths: {
                "jquery": "../lib/jquery-3.4.1.min"
            }
        })

    </script>
</head>

<body>
    <!-- view-source:https://www.meizu.com/index.html -->
    @include('head.html')
   
    <div id="banner" class="container">
        <ul class="banner_imgs"></ul>
        <ol class="banner_dots"></ol>

    </div>

    <div class="index-container">
        <div class="section_box_nav container">
            <ul class="four_ad">
                <!-- <li class="adv_box_1">
                    <a href="#">
                        <img src="../static/beforre (4).png" alt="">
                        <em>配件狂欢购</em>
                        <p>领券最高可减100元</p>
                    </a>
                </li> -->
                <!-- <li class="adv_box_1">
                    <a href="#">
                        <img src="../static/beforre (7).png" alt="">
                        <em>魅族16T</em>
                        <p>日光橙限量现货开售</p>
                    </a>
                </li>
                <li class="adv_box_1">
                    <a href="#">
                        <img src="../static/beforre (4).jpg" alt="">
                        <em>魅族 16s Pro</em>
                        <p>暮光森林来了</p>
                    </a>
                </li>
                <li class="adv_box_1">
                    <a href="#">
                        <img src="../static/beforre (2).jpg" alt="">
                        <em>mCycle</em>
                        <p>以旧换新</p>
                    </a>
                </li>-->
            </ul> 
        </div>
    </div>
    


    <!-- <div class="section-box-row">
        <div class="index-center-wrapper">
            <ul>
                <li class="big">

                </li>
                <li class="big">

                </li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div> -->
    @include('foot.html')
    <!-- http://localhost:3000/views/index.html# -->
</body>

</html>