<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <script src="../lib/require.js" data-main="../js/index.js"></script>
    <!-- <script src="../lib/jquery-3.4.1.min.js"></script> -->
    <script>
        requirejs.config({
            paths: {
                "jquery": "../lib/jquery-3.4.1.min"
            }
        })

    </script>
</head>

<body>
    <!-- view-source:https://www.meizu.com/index.html -->
    @include('head.html')
   
    <div id="banner" class="container">
        <ul class="banner_imgs"></ul>
        <ol class="banner_dots"></ol>
    </div>

    <div class="index-container">
        <div class="section_box_nav container">
            <ul class="goods">
                <!-- <li class="adv_box_1">
                    <a href="#">
                        <img src="../static/beforre (4).png" alt="">
                        <em>配件狂欢购</em>
                        <p>领券最高可减100元</p>
                    </a>
                </li> -->
            </ul> 
        </div>
    </div>


    <div class="section-box-row">
        <div class="section_title">
            <h3>手机</h3>
        </div>
        <div class="section-box-adv">
            <a href="">
                <img src="../static/beforre (1).jpg" alt="">
            </a>
        </div>  

        <div class="index-center-wrapper container">
            <ul class="phone_big clearfix"></ul>
            <ul class="phone phone_small clearfix"></ul>
        </div>



        <div class="section_title">
            <h3>魅族声学</h3>
        </div>
        <div class="section-box-adv">
            <a href="">
                <img src="../static/beforre (5).jpg" alt="">
            </a>
        </div>  

        <div class="index-center-wrapper container">
            <ul class="listen phone_small clearfix"></ul>
        </div>
    </div>


    @include('foot.html')
    <!-- http://localhost:3000/views/index.html# -->
</body>

</html>