#banner {
    .banner_imgs {
        height: 680px;
        position: relative;

        li {
            @extend #pos-0;
            display: none;
            width: 100%;

            &:first-child {
                display: block;
            }

            img {
                position: relative;
                left: 50%;
                margin-left: - (2560px / 2);
            }
        }
    }

    .banner_dots {
        position: absolute;
        left: 50%;
        bottom: 20px;
        z-index: 200;

        li {
            float: left;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px white solid;
            margin: 7px;
            cursor: pointer;

            &.active {
                background: white;
            }
        }
    }
}

// .mask{
//     height : 80px;
//     background: url(../static/bg-slide.png) no-repeat center bottom;
//     background-size:contain;
//     position: relative;
//     z-index: 100;
//     top:-80px;
// }

#phone,
#book,
#pad {
    ul {
        margin-top: 30px;
        width: 1210px;
        text-align: center;

        li {
            float: left;
            width: 232px;
            height: 290px;
            margin-right: 10px;
            margin-bottom: 10px;

            // background : #c36;
            img {
                @extend #wh-100;
            }
        }
    }

    h2 {
        font-size: 30px;
        margin: 10px;
    }
}

.index-container {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    .section_box_nav {
        padding-bottom: 45px;
        // height: 450px;
        overflow: hidden;
        .four_ad {
            overflow: hidden;
            padding-top: 45px;
            li {
                // width : 310px;
                width: 25%;
                height : 187px;
                float: left;
                // position: relative;
                // background: #b57;
                // border-right : 1px solid #333;
                text-align: center;
                img{
                    display: block;
                    margin : 0 auto;
                    width:130px;
                    height : 130px;
                }
                p{
                    text-align: center;
                    font-size : 14px;
                    color : #999;
                }
                em{
                    font-size : 20px;
                    color : #333;
                }
            }
        }
    }
}