<div id="footer">
    <div class="footer_link">
        <div class="footer_link_wrap">
            <div class="footer_row clearfix">
                <ul class="footer_service">
                    <li class="l">
                        <a href="#">
                            <img src="../../static/img (2).png" alt="">
                            <span>满80免运费</span>
                        </a>
                    </li>
                    <li class="l">
                        <a href="#">
                            <img src="../../static/img (21).png" alt="">
                            <span>100+城市次日送达</s pan>
                        </a></li>
                    <li class="l">
                        <a href="#">
                            <img src="../../static/img (11).png" alt="">
                            <span>7天无理由退货</span></a></li>
                    <li class="l">
                        <a href="#">
                            <img src="../../static/img (7).png" alt="">
                            <span>15天换货保障</span></a></li>
                    <li class="l">
                        <a href="#">
                            <img src="../../static/img (8).png" alt="">
                            <span>1年免费保修</span>
                        </a>
                    </li>
                    <li class="l">
                        <a href="#">
                            <img src="../../static/img (1).png" alt="">
                            <span>上门快修</span></ a>
                    </li>
                </ul>
                <div class="footer_hotline r">
                    <span>周一至周日 8:00-20:00</span>
                    <p class="footer_hotline_tel">400-788-3333</p>
                    <a href="#" class="footer_hotline_btn">在线客服</a>
                </div>
            </div>
            <hr>
            <div class="footer_co">
                <div class="footer_row">
                    <div class="footer_info">
                        <div class="footer_info_left l">
                            <ul class="clearfix">
                                <li>了解魅族</li>
                                <li>加入我们</li>
                                <li>联系我们</li>
                                <li>Flyme</li>
                                <li>魅族社区</li>
                                <li>天猫旗舰店</li>
                                <li>问题反馈</li>
                                <li>线上销售授权名单公示</li>
                                <li>出版物经营许可证</li>
                                <li>简体中文</li>
                            </ul>
                            <div class="footer_rightcopy">
                                ©2019 Meizu Telecom Equipment Co., Ltd. All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#">粤ICP备13003602号</a>
                                <a href="#">合字B2-20170010 </a>
                                <a href="#">营业执照</a>
                                <a href="#">法律声明</a>
                                <span>
                                    <i></i>
                                    粤公网安备 44049102496009 号</span>
                                <a href="#"><i></i></a>
                                <a href="#"><i></i></a>
                                <a href="#"><i></i></a>
                            </div>
                        </div>
                        <div class="footer_friend_link r">
                            <a href="#"><img src="../../static/img (3).png" alt=""><i></i></a>
                            <a href="#"><img src="../../static/img (5).png" alt=""><i></i></a>
                            <a href="#"><img src="../../static/img (6).png" alt=""><i></i></a>
                            <a href="#"><img src="../../static/img (12).png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>