<!-- 头部 -->
<div id="head">
        <div class="container head_nav_wrap">
            <!-- logo -->
            <div class="head_logo l">
                <a href="#">
                    <img src="../../static/logo.png" alt="">
                </a>
            </div>
    
            <!-- 购物车 -->
            <div class="head_nav_cart r">
                <div class="head_nav_cart_icon">
                    <img src="../../static/cart_w.png" alt="">
                    <em>0</em>
                </div>
            </div>
            <!-- 我的 -->
            <div class="head_nav_mine r">
                <div class="head_nav_mine_icon">
                    <ul class="mine_list" style="display: none;">
                        <li><a href="#">立即登录</a></li>
                        <li><a href="#">立即注册</a></li>
                        <li><a href="#">我的订单</a></li>
                        <li><a href="#">M码通道</a></li>
                    </ul>
                </div>
            </div>
            <!-- 头部搜索框 -->
            <div class="head_nav_search r">
                <input type="text" class="head_nav_input" placeholder="魅族16T">
                <a href="#" class="head_nav_search_icon">
                    <i class="iconfont icon-fangdajing ">
    
                    </i>
                </a>
            </div>
            <!-- 头部导航栏 -->
            <ul class="head_nav r">
                <li class="l">手机</li>
                <li class="l">声学</li>
                <li class="l">配件</li>
                <li class="l">生活</li>
                <li class="l">Flyme</li>
                <li class="l">服务</li>
                <li class="l">专卖店</li>
                <li class="l">社区</li>
                <li class="l">App下载</li>
            </ul>
        </div>
    </div>
    <div class="meizu-header-sub-warp">
        <div class="meizu-header-sub container">
            <ul class="meizu_head_sub head"></ul>
            <!-- <ul class="meizu_head_sub head2"></ul> -->
        </div>
    </div>